<div class="row" style="background-color: black">
  <div class="col-lg-2"></div>
  <div class="col-lg-3">
    <p>
    <a style="color: white;">Contato: 9quadrinhos@gmail.com 
    </a>  &nbsp;
    <a style="color: white;" href="http://www.facebook.com/9quadrinhos">
   <img src="../../assets/img/Facebook.png" width="18">
    </a>  &nbsp;
    <a style="color: white;" href="http://www.instagram.com/9quadrinhos">
      <img src="../../assets/img/Instagram.png" width="18">
    </a>
    </p>
  </div>
</div>

